*{
	font-family: 'Josefin Sans', sans-serif;

}

a{
	background: #333;
  	color: #ccc;
  	text-decoration: none;
  	text-align: center;
  	padding: 0.5rem;
  	overflow: hidden;
  	box-shadow: 2px 2px 3px black inset;
  	border-radius: 5px;
}
.navi hover{
  color: #fff;
  box-shadow: 2px 2px 15px cyan inset;
}

body{
	background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
	background: #E87B0C;
	border-radius: 17px;
	box-shadow: 7px 7px 7px grey;
}


}

h1{
	font-size: 100px;
	padding: 2rem;
}

.hero{
	border-radius: 17px;		
}

h2{
	font-size: 37px;
}

h1, h2{
	color: #FFFF00;
	font-family: 'Fjalla One', sans-serif;
	background-color: #000000;
	border-style: double;
	border-color: #FFFF00;
	border-radius: 5px;
	width: 90%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: auto;
	margin-left: auto;
}

.basic_info{
    margin: 1rem;
    width: 20%;
    border-radius: 10px;
    font-size: 20px;
}

p{
	font-size:30px;
	margin: 2rem;
}

.indv_skills{
	font-size: 27px;
}

.ProfilePic{
	width: 30%;
	height: 40%;
	border-radius: 17px;
}

.projpic{
	width: 10rem;
	height: 10rem;
	margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    border-radius: 17px;
}
.pic{
		
}

#social-media a{
	 background: #333;
  	color: #ccc;
    font-size: 1rem;
  	text-decoration: none;
  	box-shadow: 2px 2px 3px black inset;
}


#social-media a:hover {
  color: #fff;
  box-shadow: 2px 2px 15px cyan inset;
}

.text{
	margin: -27px;

}

.ContactMe{
  width: 5rem;
}

.imgSlide{

	width: 70%;
	height: 70%;
	box-shadow: 7px 7px 7px black;

}

.mySlides {
    display: none;
    margin-bottom: 5em;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.collapsible{
	background: #333;
  	color: #ccc;
  	text-decoration: none;
  	text-align: center;
  	padding: 0.5rem;
  	box-shadow: 2px 2px 3px black inset;
  	border-radius: 5px;

  }

.active, .dot:hover {
  background-color: #717171;
}

.content{
	

}

.desc {
	font-size: 20px;
	padding: 10px;
	background-color: #ccc;
	border-radius: 17px;
	width: 50%
	margin 0 auto;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}






